body, html {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
  
.hero-image {
    
    height: 25vh;
    
    position: relative;
}


.content_grid{
    background-color:#389583 ;
    color: white;
    margin: 10px;
    padding-left: 15px;
    padding: 2px;
    border-radius: 5px;
}
h2{
  margin: 0px;
  font-size: 15px;
  padding: 2px 6px;
}
img{
    width: 100%;
    height: auto;
}
.title{
    color: #05396B;
}

a{
    text-decoration: none;
}

.item1 { 
  grid-area: main; 
}

.item2 { 
  grid-area: right; 
  font-weight: bold;
  font-size: 12px;
  text-align: left;
  line-height:15px
}


.grid-container {
  display: grid;
  grid-template-areas:
    'main main right right right';
  grid-gap: 10px;
  padding: 10px;
  margin: 10px;
  height: 40px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0px 0px;
  height: 100%;
  width: auto;
  color: #05396B;
}


.grid-container > .item1 >a> img{
  width: 96px;
  height: 51px;
}
iframe{
  width: 93%;
  height: 180px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}
.main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}