body, html {
    height: 100%;
    margin: 0;
}
  
.hero-image {
    background-image:url("../assets/homepageimage.png");
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0;
    grid-template-columns: 20% 20% 20% 20% 20%;
    display:grid;
    height: 8%;
    left:0;
    width: 100%;
}
  
.navbar svg{
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:55%;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
}