html, body{
	margin:0;
	overflow:hidden;
	min-height:100vh;
	min-width:100vw;
	font-family: Verdana,sans-serif;
	color:white;
	background-color: rgb(83, 83, 83);
}

.container{
	width:100vw;
	height:90vh;
	top:10vh;
	position: absolute;
	display:grid;
	grid-template-areas: 
	"video data"
	"mosaic data";
	grid-auto-rows: 50% 50%;
}

video{
	height:100%;
	background-color:gray;
	grid-area: video;
}

#mosaic{
	background-color:gray;
	grid-area: mosaic;
}

#data{
	word-break: break-all;
	height:calc(100% - 4vw);
	overflow-y:scroll;
	padding:2vw;
	grid-area: data;
}

#menu{
	position: absolute;
	width:100vw;
	height:10vh;
	background-color: #333;
	display:grid;
	grid-template-columns: 12vw 12vw 12vw 12vw 12vw 12vw 12vw;
	grid-template-rows: 10vh;
}

#menu *{
	text-align: center;
}


#menu div{
	width: 100%;
	height:100%;
	cursor:pointer;
}

#menu div :hover{
	background-color: rgb(83, 83, 83);
}

#logo{
	background-color: #389583;
}

#menu p{
	line-height: 10vh;
	margin:0;
	cursor:pointer;
}

#menu img{
	height:100%;
}


